body{
    background-color: var(--primary);
}

p{
    color: var(--light);
    font-size: 42px;
    font-family:  var(--fontTitle);
}

@media screen and (max-width : 768px) {
    p{
        text-align: center;
    }
}